<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/fonts/font-awesome.min.css" rel="stylesheet" />

    <!--right slidebar-->
    <link href="/static/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet" />
    <link href="/static/assets/select2/select2.min.css" rel="stylesheet" />
    <script src="/static/js/jquery.js"></script>

    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<body>
    <div id="loading"></div>

    <section id="container" class="">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <i class="fa fa-bars"></i>
            </div>
            <!--logo start-->
            <a href="/" target="index" class="logo">Flat<span>lab</span></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge badge-success">6</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 6 pending tasks</p>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Dashboard v1.3</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Iphone Development</div>
                                        <div class="percent">87%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                            <span class="sr-only">87% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Mobile App</div>
                                        <div class="percent">33%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                            <span class="sr-only">33% Complete (danger)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Dashboard v1.3</div>
                                        <div class="percent">45%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar"
                                            aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="sr-only">45% Complete</span>
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge badge-danger">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-red"></div>
                            <li>
                                <p class="red">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="/static/img/avatar-mini.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Jonathan Smith</span>
                                        <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hello, this is an example msg.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="/static/img/avatar-mini2.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Jhon Doe</span>
                                        <span class="time">10 mins</span>
                                    </span>
                                    <span class="message">
                                        Hi, Jhon Doe Bhai how are you ?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="/static/img/avatar-mini3.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Jason Stathum</span>
                                        <span class="time">3 hrs</span>
                                    </span>
                                    <span class="message">
                                        This is awesome dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="/static/img/avatar-mini4.jpg"></span>
                                    <span class="subject">
                                        <span class="from">Jondi Rose</span>
                                        <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hello, this is metrolab
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge badge-warning">7</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow">You have 7 new notifications</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    Server #3 overloaded.
                                    <span class="small italic">34 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-warning"><i class="fa fa-bell"></i></span>
                                    Server #10 not respoding.
                                    <span class="small italic">1 Hours</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    Database overloaded 24%.
                                    <span class="small italic">4 hrs</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-success"><i class="fa fa-plus"></i></span>
                                    New user registered.
                                    <span class="small italic">Just now</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-info"><i class="fa fa-bullhorn"></i></span>
                                    Application error.
                                    <span class="small italic">10 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">

                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="/{.{$USER->id}}/avatar.png" onerror0="$(this).attr('src','img/avatar.png')"
                                class="avatar">
                            <span class="username">{.{$USER->name}} {.{$USER->lastname}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout dropdown-menu-right">
                            <div class="log-arrow-up"></div>
                            <li><a href="{.{route('dashboard.user_edit', $USER->id)}}"><i
                                        class=" fa fa-suitcase"></i>پروفایل</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> تنظیمات</a></li>
                            <li><a href="#"><i class="fa fa-bell-o"></i> اعلانات</a></li>
                            <li><a href="{.{route('logout')}}"><i class="fa fa-key"></i> خروج</a></li>
                        </ul>
                    </li>
                    <li class="sb-toggle-right">
                        <i class="fa  fa-align-right"></i>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion"></ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <!-- page start-->

                @include('notif')

                {% block content %}
                {% endblock %}
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->

        <!-- Right Slidebar start -->
        <div class="sb-slidebar sb-right sb-style-overlay">
            <h5 class="side-title">Online Customers</h5>
            <ul class="quick-chat-list">
                <li class="online">
                    <div class="media">
                        <a href="#" class="">
                            <img alt="" src="/static/img/chat-avatar2.jpg" class="mr-3 rounded-circle">
                        </a>
                        <div class="media-body">
                            <strong>John Doe</strong>
                            <small>Dream Land, AU</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="">
                            <img alt="" src="/static/img/chat-avatar.jpg" class="mr-3 rounded-circle">
                        </a>
                        <div class="media-body">
                            <div class="media-status">
                                <span class=" badge bg-important">3</span>
                            </div>
                            <strong>Jonathan Smith</strong>
                            <small>United States</small>
                        </div>
                    </div><!-- media -->
                </li>

                <li class="online">
                    <div class="media">
                        <a href="#" class="">
                            <img alt="" src="/static/img/pro-ac-1.png" class="mr-3 rounded-circle">
                        </a>
                        <div class="media-body">
                            <div class="media-status">
                                <span class=" badge badge-success">5</span>
                            </div>
                            <strong>Jane Doe</strong>
                            <small>ABC, USA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="">
                            <img alt="" src="/static/img/avatar1.jpg" class="mr-3 rounded-circle">
                        </a>
                        <div class="media-body">
                            <strong>Anjelina Joli</strong>
                            <small>Fockland, UK</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="">
                            <img alt="" src="/static/img/mail-avatar.jpg" class="mr-3 rounded-circle">
                        </a>
                        <div class="media-body">
                            <div class="media-status">
                                <span class=" badge bg-warning">7</span>
                            </div>
                            <strong>Mr Tasi</strong>
                            <small>Dream Land, USA</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
            <h5 class="side-title"> pending Task</h5>
            <ul class="p-task tasks-bar">
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Dashboard v1.3</div>
                            <div class="percent">40%</div>
                        </div>
                        <div class="progress">
                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                                role="progressbar" class="progress-bar progress-bar-striped bg-success">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Database Update</div>
                            <div class="percent">60%</div>
                        </div>
                        <div class="progress">
                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                role="progressbar" class="progress-bar progress-bar-striped bg-warning">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Iphone Development</div>
                            <div class="percent">87%</div>
                        </div>
                        <div class="progress">
                            <div style="width: 87%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                                role="progressbar" class="progress-bar progress-bar-striped bg-info">
                                <span class="sr-only">87% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Mobile App</div>
                            <div class="percent">33%</div>
                        </div>
                        <div class="progress">
                            <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                                role="progressbar" class="progress-bar progress-bar-striped bg-danger">
                                <span class="sr-only">33% Complete (danger)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Dashboard v1.3</div>
                            <div class="percent">45%</div>
                        </div>
                        <div class="progress">
                            <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45"
                                role="progressbar" class="progress-bar progress-bar-striped">
                                <span class="sr-only">45% Complete</span>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="external">
                    <a href="#">See All Tasks</a>
                </li>
            </ul>
        </div>
        <!-- Right Slidebar end -->


    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="/static/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
    <script src="/static/js/slidebars.min.js"></script>
    <!-- <script src="/static/js/jquery.nicescroll.js" type="text/javascript"></script> -->
    <script src="/static/js/respond.min.js"></script>

    <script src="/static/assets/select2/select2.min.js"></script>
    <link href="/static/assets/select2/select2.min.css" rel="stylesheet">

    <link href="/static/assets/confrim/jquery-confirm.min.css" rel="stylesheet" />
    <script src="/static/assets/confrim/jquery-confirm.min.js"></script>

    <script>
        const CurrentPage = "$(location).attr('href').replace('#', '')" ;
        const MenuItem = [{
            label: "داشبورد مدیریت",
            href: "{.{route('dashboard.index')}}",
            icon: "fa fa-dashboard",
            items: []
        },
        {
            label: "کاربران",
            href: "javascript:;",
            icon: "fa fa-users",
            items: [{
                label: "همه",
                href: "{.{route('dashboard.user_list')}}",
                icon: "",
            },
            {
                label: "ایجاد جدید",
                href: "{.{route('dashboard.user_add')}}",
                icon: "",
            },
            {
                label: "گروه های کاربری",
                href: "{.{route('dashboard.user_group_List')}}",
            },
            {
                label: "دسته بندی کاربران",
                href: "{.{route('dashboard.user_Category_List')}}",
            },
            ]
        },
        {
            label: "کاریابی",
            href: "javascript:;",
            icon: "fa fa-suitcase",
            items: [{
                label: "دسته بندی مشاغل",
                href: "{.{route('dashboard.job.Category_List')}}",
                icon: "",
            },
            {
                label: "شغل ها",
                href: "{.{route('dashboard.job.List')}}",
            },
            {
                label: "فرم رزومه",
                href: "{.{route('dashboard.job.JobResumeForm_view')}}",
            },
            ]
        },
        {
            label: "پروژه",
            href: "javascript:;",
            icon: "fa fa-list",
            items: [{
                label: "درحال انجام",
                href: "{.{route('dashboard.project_ToDo_List')}}",
                icon: "",
            }, {
                label: "تعریف پروژه",
                href: "{.{route('dashboard.project_List')}}",
                icon: "",
            },
            {
                label: "دسته بندی ها",
                href: "{.{route('dashboard.project_Category_List')}}",
            },
            {
                label: "وضعیت ها",
                href: "{.{route('dashboard.project_Status_List')}}",
            },
            ]
        },
        {
            label: "crm",
            href: "javascript:;",
            icon: "fa fa-comments-o",
            items: [{
                label: "تماس ها",
                href: "{.{route('dashboard.crm.Call_List')}}",
                icon: "",
            },

            ]
        },
        {
            label: "فروشگاه",
            href: "javascript:;",
            icon: "fa fa-columns",
            items: [{
                label: "محصولات",
                href: "{.{route('dashboard.product_list')}}",
                icon: "",
            },
            {
                label: "ایجاد محصول جدید",
                href: "{.{route('dashboard.product_add')}}",
                icon: "",
            },
            {
                label: "دسته بندی محصولات",
                href: "{.{route('dashboard.product_Category_List')}}",
            },
            {
                label: "سفارشات",
                href: "{.{route('dashboard.order_list')}}",
            },
            {
                label: "وضعیت ها",
                href: "{.{route('dashboard.order_status_List')}}",
            },
            ]
        },
        {
            label: "CMS",
            href: "javascript:;",
            icon: "fa fa-cogs",
            items: [{
                label: "صفحات",
                href: "{.{route('dashboard.page_List')}}",
                icon: "",
            },
            {
                label: "سربرگ/فوتر",
                href: "{.{route('dashboard.page_footerHeaderList')}}",
                icon: "",
            },
            {
                label: "منوهای دسترسی",
                href: "{.{route('dashboard.Menu_List')}}",
                icon: "",
            },
            {
                label: "اسلاید تصاویر",
                href: "{.{route('dashboard.SlideShow_List')}}",
                icon: "",
            },
            {
                label: "پرتال ها",
                href: "{.{route('dashboard.App_List')}}",
                icon: "",
            },
            {
                label: "شماره های پنل پیامک",
                href: "{.{route('dashboard.App_smsNumbers')}}",
                icon: "",
            },
            ]
        },


        ];


        $("#sidebar .sidebar-menu").html('');
        var SearchMenu = $(`<select class="form-control" id="SearchMenu"><option value='/' hidden></option></select>`);
        MenuItem.forEach((item, key) => {
            var menu = $(`<li class="sub-menu">
                    <a class="baselink" href="${item.href}">
                        <i class="${item.icon}"></i>
                        <span class="menuTitle">${item.label}</span>
                    </a>
                </li>`);
            if (CurrentPage == item.href) $(menu).find("a.baselink").addClass("active");
            if (item.items.length > 0) {
                $(SearchMenu).append(`<optgroup id="OP_${key}" data-icon="${item.icon}" label='${item.label}'></optgroup>`);

                $(menu).append('<ul class="sub"></ul>').find("a:first-child").append('<span class="arrow"></span>');
                item.items.forEach(subitem => {
                    $(SearchMenu).find("optgroup#OP_" + key).append(`<option value='${subitem.href}' data-icon="${subitem.icon}" >${subitem.label}</option>`);

                    if (CurrentPage == subitem.href) {
                        $(menu).find("a.baselink").addClass("active").text();
                        $(menu).find("ul.sub").append(`<li class="active"><a class="" href="${subitem.href}">
                            <i class="${subitem.icon}"></i>
                            ${subitem.label}
                            </a></li>`);
                    } else {
                        $(menu).find("ul.sub").append(`<li class=""><a class="" href="${subitem.href}">
                            <i class="${subitem.icon}"></i>
                            ${subitem.label}
                            </a></li>`);
                    }
                });
            } else {
                $(SearchMenu).append(`<option value='${item.href}' data-icon="${item.icon}" >${item.label}</option>`);
            }
            $("#sidebar .sidebar-menu").append(menu);
        });
        $("body").append(`<div id="magiceMenu"></div><div id="magiceMenuShadow"></div>`);
        $(document).find("#magiceMenu").html(SearchMenu);

        $(document).ready(function () {
            function formatState(state) {
                if (state.element && $(state.element).attr("hidden")) return;
                if (state.element && $(state.element).attr("data-icon")) {
                    var $state = $(`<span> ${state.text} <i class="${$(state.element).attr("data-icon")}"></i></span>`);
                    return $state;
                }
                return state.text;

                // if (!state.id) {
                //     return state.text;
                // }
            };

            $("#magiceMenu").find("#SearchMenu").select2({
                width: 'resolve',
                templateResult: formatState
            }).closest("#magiceMenu").prop("hidden", true).next("#magiceMenuShadow").prop("hidden", true);
            $("#magiceMenu #SearchMenu").on("change", function () {
                window.location.href = $(this).val();
            });

        });
    </script>
    <!--common script for all pages-->
    <script src="/static/js/common-scripts.js"></script>
    <script src="/static/js/my_script.js"></script>

    {% block ext_footer %}
    {% endblock %}
    <script>
        $(document).ready(function () {
            $("#loading").addClass('d-none');
        });
    </script>
</body>

</html>