/* @import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Playball&display=swap"); */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  background: #898989;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.container {
  margin: 0;
  padding: 0.5rem;
  font-family: "Playball", cursive;
  font-size: 1.5rem;
  height: fit-content;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav button {
  height: 2em;
  min-width: 8em;
  background: transparent;
  color: #f9f6ef;
  font-family: "Arima Madurai", cursive;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  position: relative;
}

nav button:before,
nav button:after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #f9f6ef25;
  transition: all 0.3s;
  background: #f9f6ef15;
}

nav #next:after {
  transform-origin: 65% 0%;
}

nav #next:before {
  transform-origin: 65% 100%;
}

nav #prev:after {
  transform-origin: -10% 0%;
}

nav #prev:before {
  transform-origin: -10% 100%;
}

nav button:hover:after {
  transform: rotate(45deg) scale(0.5);
  background: #f9f6ef70;
}

nav button:hover:before {
  transform: rotate(-45deg) scale(0.5);
  background: #f9f6ef70;
}

#notation {
  color: #f9f6ef;
  font-family: "Arima Madurai", cursive;
  font-size: 0.8rem;
}

#holidayList {
  display: none;
  background-size: cover;
  height: 100%;
}

.holiday-item {
  background-color: #fdfaf7;
  color: #785e3a;
  border: solid 1px #c2b5a3;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.holiday-item.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.holiday-item.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.holiday-item.front-cover {
  color: #f9f6ef;
  background-color: #f2e8d9;
  border: solid 1px #998466;
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.holiday-item.back-cover {
  background-color: #f2e8d9;
  border: solid 1px #998466;
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

.front-cover h1 {
  margin-top: 20%;
  text-align: center;
  font-size: 3.5rem;
  line-height: 0.9;
  padding-block: 3rem 0;
}

.front-cover p {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0.5rem;
  background: #0008;
}

.page-content {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  text-align: center;
}


.pages {
  background: #fff;
  border: 1px solid;
}