{% extends "dashboard/main.html" %}
{% load i18n %}
{% load filters %}

{% block title %} {% trans pageTitle %} {% endblock %}

{% block content %}

<div class="col-12">
    <form action="{% url 'User_Add' %}" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0"></h5>
                <div>
                    <button type="submit" class="btn btn-sm btn-success">
                        <span class="d-none d-md-inline">ذخیره &nbsp;</span>
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="reset" class="btn btn-sm btn-danger">
                        <span class="d-none d-md-inline">پاکسازی فرم &nbsp;</span>
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="form-group row mb-2">
                        <div class="col-4 col-md-2">
                            <label for="status">جنسیت:</label>
                            <select name="sex" class="form-control" id="">
                                <option value="1">آقا</option>
                                <option value="2" selected="{% if User and   User.sex != 2 %}false{% endif %}">خانم
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="status">نوع کاربری:</label>
                            <select name="kind" class="form-control" id="">
                                {% for option in UserOptions %}
                                <option value="{{ option.id }}">{{ option.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="title">نام نمایشی:</label>
                            <input type="text" class="form-control" id="title" name="title" maxlength="255" />
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col">
                            <label for="title">نام:</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255" />
                        </div>
                        <div class="col">
                            <label for="title">نام خانوادگی:</label>
                            <input type="text" class="form-control" id="title" name="title" maxlength="255" />
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col">
                            <label for="title">تلفن همراه:</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255" />
                        </div>
                        <div class="col">
                            <label for="title">ایمیل:</label>
                            <input type="text" class="form-control" id="title" name="title" maxlength="255" />
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col">
                            <label for="title">کد ملی:</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255" />
                        </div>
                        <div class="col">
                            <label for="title">تاریخ تولد:</label>
                            <input type="text" class="form-control" id="title" name="title" maxlength="255" />
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col">
                            <label for="title">نام کاربری:</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255" />
                        </div>
                        <div class="col">
                            <label for="title">کلمه عبور:</label>
                            <input type="text" class="form-control" id="title" name="title" maxlength="255" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="option">توضیحات:</label>
                        <textarea class="form-control" id="option" name="option"></textarea>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-4">
                    <div class="w-100">
                        <label for="status">دستبندی:</label>
                        <select name="sex" class="form-control" id="">
                            {% for UserGroup in UserGroups %}
                            <option value="{{ UserGroup.id }}">{{ UserGroup.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <ul class="w-100">
                        <li>عنوان دسته بندی</li>
                    </ul>
                </div>
                <div class="col">
                    121
                </div>

            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block extJs %}
<script>
    $(document).ready(function () {


    });
</script>
{% endblock %}